__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
*.pkl
*.parquet
*.h5
*.npy
mlruns/
node_modules/
.vite/
.vscode/
.venv/
venv/
data/raw/*
data/processed/*
data/windows/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/windows/.gitkeep
notebooks/.ipynb_checkpoints/
__pycache__/
